GEE_SERVICE_ACCOUNT_FILE=../gee-water-monitor-c835343e808f.json
GEE_PROJECT_ID=
GEE_SERVICE_ACCOUNT_EMAIL=
GEE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GEE_MAX_CLOUD=20
GEE_NDWI_THRESHOLD=0.1
GEE_LOOKBACK_DAYS=30
